 @font-face {
  font-family: 'MiFuentePersonalizada'; 
  src: url('../webfonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype'); 
} 

body {
  background-image: url(../img/Desktop-1.png); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  font-family: 'MiFuentePersonalizada', sans-serif;
  /*font-family: "Inter";*/
  font-style: normal;
  background-attachment: fixed;
}


/* Contenedor principal */
#product-info-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 5% auto;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Contenedor de las imágenes */
#product-images {
  display: flex;
  gap: 20px;
}

/* Imagen principal */
#main-product-image {
  width: 600px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Lista de miniaturas */
#thumbnail-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


#thumbnail-list img {
  width: 100px;
  height: 90px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

#thumbnail-list img:hover {
  border-color: #ff7a00;
}

/* Contenedor de la descripción */
#product-details {
  flex: 1;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#product-details h2 {
  font-size: 2.2rem;
}

#product-details p {
  font-size: 1.2rem;
  margin-top: 10%;
  text-align: left;
}

#product-details .price {
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  justify-content: end;
}

#product-details .soldCount {
  font-size: 1rem;
  color: #777;
  align-items: end;
}

#product-details .btn-group {
  display: flex;
  gap: 5px;
  align-items: end;
}

#product-details button {
  flex: 1;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
  background-color: #ee8523;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#product-details button:hover {
  background-color: #ee8523;
}

/* Media queries para el diseño responsivo */
@media (max-width: 768px) {
  #product-info-container {
    flex-direction: column;
    align-items: center;
  }

  #product-details h2 {
    font-size: 1.5rem;
  }

  #product-details p, .price {
    font-size: 1rem;
  }

  #product-images {
    align-items: left;
  }

  #thumbnail-list img {
    width: 20%;
    height: auto;
  }
}

