
@font-face {
  font-family: 'MiFuentePersonalizada'; 
  src: url('../webfonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype'); 
} 

body {
  background-image: url(../img/Desktop-1.png); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  font-family: 'MiFuentePersonalizada', sans-serif;
  /*font-family: "Inter";*/
  font-style: normal;
  background-attachment: fixed;
}

/* Background Para pantallas pequeñas como móviles */
@media (max-width: 600px) {
  body {
    background-image: url(../img/destokp-mobile.png); /* Versión optimizada para móviles */
    background-size: cover;
    background-position: center;
  }
}

/* Background Para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    background-image: url(../img/destokp-tablet.png); /* Versión optimizada para tablets */
    background-size: cover;
    background-position: center;
  }
}

/*body nuevo*/

.jumbotron,
.card-body,
.container,
.site-header {
  font-family:'MiFuentePersonalizada', sans-serif;
  /*font-family: 'Inter';*/
  font-style: normal;
} 

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  color: white;
  font-size: 18px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* empieza el estilo del formulario login */
.content{
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px; 
  padding: 20px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  background-color: #2F2525;
  text-align: center;
}

.content .datos {
  color: #D9D9D9;
  font-size: 1.1rem;
  text-align: left;
  margin-left: 13%;
  margin-top: 10%;
  display: block;
  margin-bottom: 5px;
}

.content h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 5%;
}

#ingresar{
  background-color: #5F676F; 
  color: white; 
  border: none; 
  border-radius: 10px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  width: 300px; 
  margin-top: 15%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

::placeholder {
  text-align: justify;
  font-size: 1rem;
  text-indent: 0.3cm;
  width: 200px;
}

/* termina el estilo del formulario login */

/* Ojito: */
.password-container {
  position: relative;
  width: 100%; /* Mantén el ancho completo del input */
}

.registro {
  width: 80%; /* Mantén el ancho del input */
  padding-right: 30px; /* Espacio suficiente para el ícono dentro del input */
  box-sizing: border-box; /* Asegura que el padding se incluye en el ancho total */
  border-radius: 10px;
  height: 40px;
  text-indent: 0.3cm;
}

.toggle-password {
  position: absolute;
  right: 13%; /* Ajusta la posición del ícono dentro del campo */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password i {
  font-size: 1.2rem;
  color: #888;
}

/* F Para pantallas pequeñas como móviles */
  @media (max-width: 768px) {
    .content {
      width: 80%;
      height: 70%;
    }
  
  .content .datos{
    margin-top: 15%;
    font-size: 1rem;
  }

  #ingresar{
    max-width: 70%;
    margin-top: 20%;
    font-size: 1rem;
  }

  ::placeholder {
    font-size: 0.8rem;
  }

  .toggle-password i {
    font-size: 1rem;
  }

  .registro{
    width: 90%;
  }
}
/* Pantalla tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    width: 500px;
    height: 550px;
  }
  
  .content h1 {
    font-size: 40px;
    margin-bottom: 60px;
  }

  .content .datos {
    font-size: 1.5rem;
    margin-left: 7%;
    margin-top: 7%;
  }
  #ingresar {
    font-size: 20px;
    width: 75%;
    margin-top: 15%;
  }
  ::placeholder {
    font-size: 15px;
  }
  .toggle-password {
  right: 9%;
  }
  
}


/* empieza el estilo de products.html */

.product-item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #dfdcdc;
  border-radius: 10px;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
  margin-top: 10px;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-item img {
  max-width: 250px;
  border-radius: 10px;
  margin-right: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-item h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: #000000;
}

.product-item p {
  font-size: 15px;
  color: #000000;
  margin: 5px 0;
}

p.price {
  font-size: 18px;
  color: #000000;
  margin-top: 10px;
  font-weight: bold;
}

p.soldCount {
  font-size: 13px;
}

.search-container {
  display: flex;
  justify-content: right;
  margin: 20px 101px 20px 0;

}

#search-bar {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #818080;
  border-radius: 4px;
  text-indent: 0.3cm;
}

/* Pantalla iphone SE */

/* Pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .sort-controls .texto {
    display: none; /* Ocultar el texto en pantallas pequeñas */
  }

  .sort-controls .icono {
    display: inline-block; /* Mostrar las flechas */
    font-size: 20px;
    padding: 0 5px;
    margin: 0 5px;
  }

  /* Ajustar el contenedor para evitar desbordamiento */
  .sort-controls {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Asegura que el ancho sea del 100% */
    max-width: 100%; /* Evitar que exceda el contenedor */
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
  }

  .product-item {
    flex-direction: column;
    text-align: left;
    max-width: 90%; /* Ajustar el ancho del producto */
    margin-left: 5%; /* Centrar ligeramente */
  }

  .product-item img {
    max-width: 100%;
    margin: 0 0 20px 0;
  }

  .search-container {
    justify-content: center;
    margin: 10% 20% 0 20%;
    max-width: 80%;
    align-items: center;
  }

  #search-bar {
    max-width: 120%;
    height: 20%;
    padding: 2% 0 5% 0;
    align-items: center;
  }

  .product-item h2 {
    font-size: 20px;
  }

  .product-item p {
    font-size: 14px;
  }

  p.price {
    font-size: 16px;
  }
}

/* Para pantallas más pequeñas como el iPhone SE */
@media (max-width: 576px) {
  .sort-controls .texto {
    display: none; /* Ocultar el texto */
    align-items: center;
  }

  .sort-controls {
    margin-left: 0; /* Eliminar margen izquierdo */
    width: 100%; /* Asegurar que ocupe el 100% del ancho */
    align-items: center;
  }

  .filter-controls {
    margin-left: 5%; /* Ajustar márgenes para pantallas pequeñas */
    margin-top: 5%;
    align-items: center;
  }

  .filter-controls h2 {
    font-size: 12px;
    align-items: center;
  }

  .filter-controls label {
    font-size: 9px;
    align-items: center;
  }

  #filter-button {
    margin-top: 10%;
    align-items: center;
    justify-content: center;
  }

  .sort-controls .icono {
    display: flex;
   
    align-items: center;
    font-size: 12px; /* Ajustar el tamaño de las flechas */
    margin-right: 5%;
  }

  .sort-controls h2 {
    font-size: 10px;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* termina el estilo de products.html */
