.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}
.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-group-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1008px;
}

.frame .overlap-group {
  position: relative;
  height: 1008px;
  background-image: url(./img/rectangle-3.png);
  background-size: 100% 100%;
}

.frame .image {
  width: 128px;
  height: 133px;
  top: 875px;
  left: 1312px;
  position: absolute;
  object-fit: cover;
}

.frame .overlap {
  position: absolute;
  width: 1440px;
  height: 648px;
  top: 0;
  left: 0;
}

.frame .img {
  width: 168px;
  height: 515px;
  top: 70px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.frame .rectangle {
  position: absolute;
  width: 1440px;
  height: 74px;
  top: 0;
  left: 0;
}

.frame .inicio {
  position: absolute;
  width: 66px;
  height: 21px;
  top: 26px;
  left: 30px;
}

.frame .categoras {
  position: absolute;
  width: 141px;
  height: 28px;
  top: 24px;
  left: 650px;
}

.frame .vender {
  position: absolute;
  width: 93px;
  height: 21px;
  top: 27px;
  left: 1318px;
}

.frame .prod {
  position: absolute;
  width: 327px;
  height: 200px;
  top: 187px;
  left: 81px;
  object-fit: cover;
}

.frame .image-2 {
  width: 327px;
  height: 200px;
  top: 448px;
  left: 81px;
  position: absolute;
  object-fit: cover;
}

.frame .chevrolet-onix-joy {
  position: absolute;
  width: 354px;
  height: 38px;
  top: 191px;
  left: 439px;
}

.frame .generacin {
  position: absolute;
  width: 632px;
  height: 20px;
  top: 241px;
  left: 438px;
}

.frame .cantidad-de-vendidos {
  width: 178px;
  top: 345px;
  position: absolute;
  height: 11px;
  left: 438px;
}

.frame .USD {
  width: 130px;
  top: 305px;
  position: absolute;
  height: 19px;
  left: 439px;
}

.frame .account-circle {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 89px;
  left: 1352px;
}

.frame .fiat-way {
  position: absolute;
  width: 156px;
  height: 38px;
  top: 450px;
  left: 441px;
}

.frame .cantidad-de-vendidos-2 {
  width: 180px;
  top: 601px;
  position: absolute;
  height: 11px;
  left: 438px;
}

.frame .USD-2 {
  width: 130px;
  top: 564px;
  position: absolute;
  height: 19px;
  left: 439px;
}

.frame .la-versin-de-fiat {
  position: absolute;
  width: 573px;
  height: 20px;
  top: 498px;
  left: 439px;
}

.frame .image-3 {
  width: 327px;
  height: 200px;
  top: 700px;
  left: 81px;
  position: absolute;
  object-fit: cover;
}

.frame .suzuki-celerio {
  position: absolute;
  width: 265px;
  height: 31px;
  top: 708px;
  left: 439px;
}

.frame .cantidad-de-vendidos-3 {
  width: 180px;
  top: 859px;
  position: absolute;
  height: 11px;
  left: 438px;
}

.frame .USD-3 {
  width: 129px;
  top: 822px;
  position: absolute;
  height: 19px;
  left: 439px;
}

.frame .un-auto-que-se-ha {
  position: absolute;
  width: 735px;
  height: 20px;
  top: 756px;
  left: 439px;
}
